@model NewsViewModel

<section class="analog-section py-5">
    <div class="container">

        <h1 class="analog-title text-center mb-5">
            Новости компании
        </h1>

        <div class="row g-4">

                <div class="col-lg-4 col-md-6">

                    <a asp-controller="News"
                       asp-action="Index"
                       asp-route-id="@Model.Id"
                       class="news-card-link">

                        <div class="card news-card h-100">

                            <div class="news-thumb">
                            <img src="@Model.ImageUrl"
                                 alt="@Model.Title">
                            </div>

                            <div class="p-3">

                            <small class="analog-text">
                                @Model.Date.ToString("dd MMMM yyyy")
                                </small>

                                <h5 class="mt-2">
                                @Model.Title
                                </h5>


                            </div>

                        </div>

                    </a>

                </div>
            <div class="col-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h6>@Model.ShortText</h6>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
